<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: header">
</head>

<body>
<header>
    <nav th:replace="fragments/fragments :: navigation"></nav>
</header>

    <main>
        <section class="text-center">
            <div class="form row py-lg-5 container">
                <div class="col-lg-12 col-md-12 mx-auto">
                    <p class="lead text-muted">Flight Information Services is a brand new flight monitoring website where all of us
                        keep our eyes on the sky.</p>
                </div>
            </div>
        </section>

    </main>

<footer th:replace="fragments/fragments :: footer">
</footer>

</body>

</html>