<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::header">
</head>

<body>
    <header>
        <nav th:replace="fragments/fragments::navigation">
        </nav>
    </header>
    <iframe src="http://free.timeanddate.com/clock/i7peu5ok/n238/pct/avt/ftb/bo2/tt0/td1/th1/tb4" frameborder="0" width="219" height="38" allowTransparency="true"></iframe>
    <main>
        <section class="py-5 container">
            <div class="table-responsive form">
                <!-- <div class="row col-md-6 col-md-offset-2 custyle"> -->

                <h1 class="header-home">Upcoming Flights</h1>
                <h3 th:if="${noCapacity}"
                    class="text-light form-text bg-danger rounded">This flight has reached its maximum capacity, please select another</h3>
                <h3 th:if="${alreadyOnFlight}"
                    class="text-light form-text bg-danger rounded">The selected person is already on the flight list</h3>

                <table id="myTable" class="table table-striped custab container table-sm">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)" class="text-center">Airplane</th>
                        <th onclick="sortTable(1)" class="text-center">Flight Route</th>
                        <th onclick="sortTable(1)" class="text-center">Departure Date & Time</th>
                        <th onclick="sortTable(1)" class="text-center">Arrival Date & Time</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tr th:each="flight : ${upcomingFlights}" th:object="${flight}">
                        <td th:text="*{airplane}" class="text-center"></td>
                        <td th:text="*{flightRoute}" class="text-center"></td>
                        <td th:text="*{departureDateAndTime}" class="text-center"></td>
                        <td th:text="*{arrivalDateAndTime}" class="text-center"></td>
                        <td class="text-center">
                            <a th:if="${crew}" th:href="@{/flights/add/{personId}/{id}(personId = ${personId}, id = *{id})}"
                               class="btn btn-primary btn-xs"><span class="glyphicon "></span>
                                Add to Crew</a>
                            <a th:unless="${crew}" th:href="@{/flights/add/{personId}/{id}(personId = ${personId}, id = *{id})}"
                               class="btn btn-primary btn-xs"><span class="glyphicon "></span>
                                Add to Passengers</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/fragments::footer">
    </footer>

    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>

</body>

</html>