<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::header">
</head>

<body>
    <header>
        <nav th:replace="fragments/fragments::navigation">
        </nav>
    </header>
    <iframe src="http://free.timeanddate.com/clock/i7peu5ok/n238/pct/avt/ftb/bo2/tt0/td1/th1/tb4" frameborder="0" width="219" height="38" allowTransparency="true"></iframe>
    <main>
        <section class="py-5 container">
        <div class="form">

            <h1 class="fw-light">Admin Menu</h1>
            <!-- <div class="row col-md-6 col-md-offset-2 custyle"> -->
            <div class="col-lg-12 col-md-12 mx-auto">
                <p class="lead text-muted">For future development...</p>
            </div>
        </div>
        </section>
    </main>

    <footer th:replace="fragments/fragments::footer">
    </footer>

</body>

</html>