<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::header">
</head>

<body>
    <header>
        <nav th:replace="fragments/fragments::navigation">
        </nav>
    </header>
    <iframe src="http://free.timeanddate.com/clock/i7peu5ok/n238/pct/avt/ftb/bo2/tt0/td1/th1/tb4" frameborder="0" width="219" height="38" allowTransparency="true"></iframe>
    <main>
        <section class="py-5 container">
            <form class="form" th:object="${airportBindingModel}" th:action="@{/airports/add}"
                  th:method="post">
                <h1 class="header-home">Add An Airport</h1>
                <!-- Form start -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="airportName">Airport Name</label>
                            <input th:field="*{airportName}" th:errorclass="is-invalid" id="airportName" name="airportName" type="text"
                                   placeholder="Airport Name..." class="form-control input-md" required autofocus>
                            <small id="dateError" th:each="e : ${#fields.errors('airportName')}" th:text="${e}"
                                   class="invalid invalid-feedback text-light form-text bg-danger rounded"></small>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <select th:field="*{country}" th:errorclass="is-invalid" id="country" name="country"
                                    class="form-control"  required autofocus>
                                <option value=""></option>
                                <option th:each="c : ${T(is.job.airlines.model.enums.CountriesEnum).values()}" th:value="${c.name()}" th:text="${c.name()}"></option>
                            </select>
                            <small id="countryError" th:each="e : ${#fields.errors('country')}" th:text="${e}"
                                   class="invalid invalid-feedback text-light form-text bg-danger rounded"></small>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <button id="singlebutton" name="singlebutton" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive form">
                <!-- <div class="row col-md-6 col-md-offset-2 custyle"> -->

                <h2 class="header-home">Airports</h2>
                <table id="myTable" class="table table-striped custab container table-sm">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)" class="text-center">ID</th>
                        <th onclick="sortTable(1)" class="text-center">Name</th>
                        <th onclick="sortTable(2)" class="text-center">Country</th>
                    </tr>
                    </thead>
                    <tr th:each="airport, stat : ${existingAirports}" th:object="${airport}">
                        <td th:text="${stat.index + 1}" class="text-center"></td>
                        <td th:text="*{airportName}" class="text-center"></td>
                        <td th:text="*{country}" class="text-center"></td>
                    </tr>
                </table>
                <!-- </div> -->
            </div>
        </section>
    </main>

    <footer th:replace="fragments/fragments::footer">
    </footer>

    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>

</body>

</html>