<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: header">
</head>

<body>
    <header>
        <nav th:replace="fragments/fragments :: navigation"></nav>
    </header>
    <main>

        <section class="py-5 text-center container">
          <div class="form row py-lg-5">
            <div class="col-lg-12 col-md-12 mx-auto">
              <h1 class="fw-light">Flight Inspection Services</h1>
              <h3 class="fw-light">Eyes always on the sky</h3>
              <p>
                <a th:href="@{/about-us}" class="btn btn-secondary my-2">About us</a>
              </p>
            </div>
          </div>
        </section>
    </main>
    <footer th:replace="fragments/fragments :: footer">
    </footer>
</body>

</html>