<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments :: header">
</head>

<body>
<header>
  <nav th:replace="fragments/fragments :: navigation"></nav>
</header>
  <main class="form-signin">
    <section class="py-5">
    <form class="form" th:action="@{/users/login}"
          method="POST">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <h3 th:if="${bad_credentials}"
             class="text-light form-text bg-danger rounded">This email or password is incorrect, please try again</h3>
      <br>
      <label for="email" class="visually-hidden">Email address</label>
      <input th:value="${username}" type="email" id="email" name="username" class="form-control" placeholder="Email address" required autofocus>
      <label for="password" class="visually-hidden">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required autofocus>
        <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
        <p class="message">Not registered? <a th:href="@{/users/register}">Create an account</a></p>
    </form>
    </section>
  </main>
<footer th:replace="fragments/fragments :: footer">
</footer>
</body>

</html>