<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::header">
</head>

<body>
    <header>
        <nav th:replace="fragments/fragments::navigation">
        </nav>
    </header>
    <iframe src="http://free.timeanddate.com/clock/i7peu5ok/n238/pct/avt/ftb/bo2/tt0/td1/th1/tb4" frameborder="0" width="219" height="38" allowTransparency="true"></iframe>
    <main>
        <section class="py-5 container">
            <div class="table-responsive form">
                <!-- <div class="row col-md-6 col-md-offset-2 custyle"> -->

                <h2 class="header-home">Flight list</h2>
                <table id="myTable" class="table table-striped custab container table-sm">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)" class="text-center">Airplane</th>
                        <th onclick="sortTable(1)" class="text-center">Flight Route</th>
                        <th onclick="sortTable(1)" class="text-center">Flight number</th>
                        <th onclick="sortTable(1)" class="text-center">Departure Date & Time</th>
                        <th onclick="sortTable(1)" class="text-center">Arrival Date & Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flight : ${flightList}" th:object="${flight}">
                        <td th:text="*{airplane}" class="text-center"></td>
                        <td th:text="*{flightRoute}" class="text-center"></td>
                        <td th:text="*{number}" class="text-center"></td>
                        <td th:text="*{departureDateAndTime}" class="text-center"></td>
                        <td th:text="*{arrivalDateAndTime}" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
        </section>
    </main>

    <footer th:replace="fragments/fragments::footer">
    </footer>

    <script>
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>

</body>

</html>